// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.img-circular{
 width: 100px;
 height: 100px;
 background-size: cover;
 display: block;
 border-radius: 5px;
 }